
.preloader-full{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(0,0,0,.6);
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader-full > div{
    max-width: 200px;
}
.progress .indeterminate:after,
.progress .indeterminate:before{
    background-color: #ee6e73;
}