
.container-generator-file{
  padding: 64px 0;
  background: #F2F4F7;
  overflow: hidden;
  .container-generator-file-item {
    max-width: 1000px;
  }

  p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4D5560;
    overflow: hidden;
    min-height: 1rem;
    margin-bottom: 11px;
  }
  h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #2C2C2C;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }
  strong{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
    margin-bottom: 5px;
  }
  b{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
  }
  img{
    width: 100%;
    height: auto;
    border: 1px solid #98A2B3;
    border-radius: 4px;
    margin-top: 13px;
    margin-bottom: 29px;
  }
  ol{
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 8px;
    li{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #2C2C2C;
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;

      span{
        position: absolute;
        display: inline-block;
        width: 20px;
        left: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height:25.6px;
        &:after{
          content:'.'
        }
      }
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 8px;
    li {
      position: relative;
      padding-left: 13px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height:25.6px;
      color: #2C2C2C;
      margin-bottom: 11px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 10px;
        background-color: #2C2C2C;
      }
    }
  }
}