.toast-cookie-container{
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1470px;
  width: 100%;
  padding: 24px 32px 32px;
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-shadow: 2px 4px 10px rgba(106, 106, 106, 0.15);
  border-radius: 4px;
  z-index: 500000;

  @media screen and (max-width: 900px){
    flex-direction: column;
  }

  .cookie-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .cookie-row-btn{
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 900px){
      justify-content: center;
    }

    @media screen and (min-width: 581px) {
      .btn-primary {
        min-width: 211px;
      }
      .btn-link {
        min-width: 124px;
      }
    }
  }

  & > *{
    flex: 1 1 auto;
  }

  .toast-body{
    word-wrap: normal;
    padding: 0 78px 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4D5560;
    @media screen and (max-width: 900px){
      order: 3;
      padding: 0 0 24px;
      font-size: 14px;
    }
  }

  .toast-cookie-icon{
    margin-right: 24px;
    @media screen and (max-width: 900px){
      order: 1;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 580px){
      display: none;
    }
    svg{
      width: 64px;
      height: 64px;
    }
  }

  .toast-header{
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 37px 0 0;
    @media screen and (max-width: 900px){
      padding: 15px 15px 0 0;
    }
  }

  .btn-close{
    opacity: 1;
  }
  .toast-cookie-btn-group{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    min-width: 278px;
    @media screen and (max-width: 900px){
      order: 2;
    }
    button{
      flex: 1 1 auto;
      margin: 0 5px;
      font-size: 16px;
      word-wrap: break-word;

      i{
        margin-right: 8px;
      }
    }
  }
}