.container-copyright{
  background: #FFFFFF;
  padding: 40px 0 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #898A93;

  a{
    text-decoration: none;
    color: #898A93;
    transition: all ease-in-out .2s;

    &:hover,
    &:active,
    &:focus{
      color: #0168E3;
    }
  }
}