@import "./scrollbar";
*{
  outline: none!important;
  outline: 0!important;
}
div {
  box-sizing: border-box;
}
html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
body{
  font-family: "Poppins", serif;
  background-color: #FAFAFA;
  width: 100%;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #2C2C2C;
  margin-bottom: 0;

  @media screen and (max-width: 560px){
    font-size: 20px;
  }
}
h2{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #2C2C2C;
  margin-bottom: 24px;

  @media screen and (max-width: 560px){
    font-size: 20px;
  }
}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #2C2C2C;
  margin-bottom: 16px;

  @media screen and (max-width: 560px){
    font-size: 16px;
  }
}
p{
  margin-bottom: 16px;
}

nav.header{
  background-color: #ffffff;
  border-bottom: 1px solid #F8F8F8;
  margin-bottom: 32px;

  .brand-logo{
    display: block;
    padding: 10px 0;
  }

  .nav-wrapper{
    display: flex;
    justify-content: space-between;

    ul{
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li{
        margin: 0 8px;
        a{
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #2C2C2C;
          text-decoration: none;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          transition: all ease-in-out .3s;
        }

        &:hover a,
        a:hover,
        &.active a,
        & a.active{
          color: #0168E3;
          border-bottom-color: #0168E3;
        }
      }
    }
  }
}

.container-color-1{
  background-color: #FAFAFA;
}
.container-color-2{
  background-color: #FFFFFF;
}
.container{
  max-width: 1500px;
  width: 100%;
  padding-left:15px;
  padding-right:15px;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
}
.col{
  padding-left: 15px;
  padding-right: 15px;
}
.container{
  @media screen and (max-width: 992px) {
    max-width: 990px;
  }
}
.generator-stack-top{
  margin-bottom: 24px;

  .generator-stack-top-btn{
    button{
      padding: 6px 20px;
      @media(max-width: 1060px){
        text-indent: -9999999999px;
        overflow: hidden;
        position: relative;
        width: 38px;

        i{
          position: absolute;
          top: 50%;
          left: 50%;
          bottom: auto;
          right: auto;
          transform: translate(-50%,-50%);
          text-indent: 0px;
        }
      }
    }
    &.generator-stack-top-btn-dash{
      padding-right: 24px;
      border-right: 1px solid #DFDFDF;
    }
  }
}

.btn{
  --bs-btn-border-radius: 4px;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0168E3;
  --bs-btn-border-color: #0168E3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005CCA;
  --bs-btn-hover-border-color: #005CCA;
  --bs-btn-focus-shadow-rgb: #D72F2F;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005CCA;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #98A2B3;
  --bs-btn-disabled-bg: #F2F4F7;
  --bs-btn-disabled-border-color: #F2F4F7;
}
.btn-outline-primary {
  --bs-btn-color: #0168E3;
  --bs-btn-border-color: #0168E3;
  --bs-btn-hover-color: #0168E3;
  --bs-btn-hover-bg: #DFEDFD;
  --bs-btn-hover-border-color: #0168E3;
  --bs-btn-focus-shadow-rgb: #D72F2F;
  --bs-btn-active-color: #005CCA;
  --bs-btn-active-bg: #ADC8E9;
  --bs-btn-active-border-color: #005CCA;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #98A2B3;
  --bs-btn-disabled-bg: #F2F4F7;
  --bs-btn-disabled-border-color: #F2F4F7;
  --bs-gradient: none;
}
.btn-secondary {
  --bs-btn-color: #98A2B3;
  --bs-btn-bg: #F2F4F7;
  --bs-btn-border-color: #F2F4F7;
  --bs-btn-hover-color: #98A2B3;
  --bs-btn-hover-bg: #EAECEEFF;
  --bs-btn-hover-border-color: #EAECEEFF;
  --bs-btn-focus-shadow-rgb: #D72F2F;
  --bs-btn-active-color: #98A2B3;
  --bs-btn-active-bg: #dbdcde;
  --bs-btn-active-border-color: #dbdcde;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #98A2B3;
  --bs-btn-disabled-bg: #F2F4F7;
  --bs-btn-disabled-border-color: #F2F4F7;
}
.btn-link{
  text-decoration: none;
}
.form-control{
  background-color: #F8F8F8;
  color: #4D5560;
  border:1px solid #F8F8F8;
  border-radius: 4px;
  padding: 0.75rem 1.35rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 120px;


  &:disabled{
    color: #98A2B3;
    background: #F2F4F7;
    border: 1px solid #F2F4F7;
  }

  &.field-no-valid{
    background-color: #FFF5F5;
    border-color:#D72F2F
  }
  &.is-invalid{
    background-image:none
  }
}
.invalid-feedback{
  position: absolute;
  bottom: -5px;
  i{
    margin-right: 8px;
  }
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.form-control.is-invalid{
  margin: 21px 0;
}
.is-invalid~.invalid-feedback{
  display: flex;
  align-items: center;
}
.form-select{
  background-color: #F8F8F8;
  color: #4D5560;
  border:0;
  border-radius: 4px;
  padding: 0.75rem 1.35rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  &:disabled{
    color: #98A2B3;
    background-color: #F2F4F7;
    border: 1px solid #F2F4F7;
  }
}
.tooltip {
  --bs-tooltip-zindex: 1080;
  --bs-tooltip-max-width: 200px;
  --bs-tooltip-padding-x: 8px;
  --bs-tooltip-padding-y: 8px;
  --bs-tooltip-font-size: 14px;
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #1D2939;
  --bs-tooltip-border-radius: 8px;
  --bs-tooltip-opacity: 1;
  font-style: normal;
  font-weight: 500;
}
.form-label{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2C2C2C;
}
.line-horizontal{
  position: relative;
}
.line-horizontal:before{
  content:"";
  border: 1px solid #F2F4F7;
  transform: translate(-50%,-50%);
  height: 120px;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 75%;
}
.form-check-input{
  width: 24px;
  height: 24px;
  margin-top: -0.25em;
  margin-right: 10px;

  border: 1px solid #98A2B3;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.form-check-input:checked {
  background-color: #0168E3;
  border-color: #0168E3;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(62, 175, 255, 1);
  outline: 0;
  box-shadow: 0 0 0 1px rgba(62, 175, 255, 1);
}
.form-select:focus{
  border-color: rgba(62, 175, 255, 1);
  outline: 0;
  box-shadow: 0 0 0 1px rgba(62, 175, 255, 1);
}
[type="search"]{

}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
  border-radius: 0.375rem;
}
.nav-tabs{
  justify-content: center;
}
.nav-tabs .nav-link {
  background: 0 0;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-radius: var(--bs-nav-tabs-border-radius);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #898A93;
}
.tab-content{
  .area-group-preview .form-control{
    background-color: #ffffff;
  }
}
.nav-tabs{
  --bs-nav-tabs-border-color: #F2F4F7;
  --bs-nav-tabs-border-width: 2px;

  .nav-item.show .nav-link,
  .nav-link.active,
  .nav-link:hover,
  .nav-link:active{
    position: relative;
    color: #0168E3;
    border-color:transparent;

    &:after{
      content:'';
      position: absolute;
      top:100%;
      left: 0;
      right:0;
      height: 2px;
      width: 100%;
      background-color: #0168E3;
    }
    path{
      fill: #0168E3
    }
  }
  .nav-link{
    &:disabled{
      color: #F2F4F7;
      background-color: #ffffff;
      &:after{
        content:'';
        position: absolute;
        top:100%;
        left: 0;
        right:0;
        height: 2px;
        width: 100%;
        background-color: #F2F4F7;
      }
    }
  }
}

.modal{
  --bs-modal-header-padding: 32px 32px 24px;
  --bs-modal-padding: 0 32px 32px;

  .modal-body-container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
  }
  .modal-header{
    border-bottom:0
  }
  .modal-title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #2C2C2C;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
  }
}


hr{
  color:#F8F8F8;
  opacity: 1;
}

.preloader-active-container{
  *{
    color: #98A2B3 !important;
    fill: #98A2B3 !important;
  }
}

.progress-export{
  display: none!important;
  position: absolute!important;
  width: 100%;
  bottom: -1rem;

  .css-5ir5xx-MuiLinearProgress-bar1{
    background: #0168E3;
  }
  .css-1r8wrcl-MuiLinearProgress-bar2{
    background: #DFEDFD;
  }
  &.progress-export-show{
    display: block!important;
  }
}

pre,
.table-responsive,
textarea{

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(152 162 179 / 20%);
    border-radius: 8px;
    opacity: 0.2;
  }
}

.form-switch .form-check-input {
  width: 48px;
  margin-left: -2.5em;
  //background-color: #000000;
  background-image: url("~/public/img/checkbox.svg");
  background-color: #DFEDFD;
  background-position: left center;
  border-radius: 12px;
  border: 0;
  transition: background-position .15s ease-in-out;
}
.switch-new{
  padding-left: 8px;
  input{
    display: none;
  }
  label{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2C2C2C;

    @media screen and (max-width: 1060px){
      flex-direction: column;
    }
    &:before{
      content:'';
      display: inline-block;
      //position: absolute;
      //left: 0;
      //top:50%;
      width: 48px;
      height: 24px;
      //transform: translateY(-50%);
      background: #DFEDFD;
      border-radius: 12px;
      transition: all ease-in-out .3s;
      margin-right: 8px;

    }

    &:after{
      content:"";
      display: inline-block;
      position: absolute;
      left: 5px;
      top:50%;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      border-radius: 50%;

      background: #FFFFFF;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      transition: all ease-in-out .3s;
      @media screen and (max-width: 1060px){
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -15px;
      }
    }
  }
  input:checked + label:before{
    background: #0168E3;
  }
  input:checked + label:after{
    left: 26px;
    @media screen and (max-width: 1060px){
      left: 50%;
      margin-left: 8px;
    }
  }
  input:disabled + label:before{
    background: #F2F4F7;
  }
}

.ads{
  background-color: #FAFAFA;

  &.ads-1{
    width: 100%;
    max-height: 90px;
    height: 100%;
    margin-bottom: 24px;
  }
  &.ads-2,
  &.ads-3{
    position: absolute;
    top: 140px;
    width: 100%;
    max-width: 160px;
    max-height: 628px;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  &.ads-2{
    left: 0;
  }
  &.ads-3{
    right: 0;
  }
}