.btn-icon{
  background-color: transparent;
  border: 0!important;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus{
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
}
.icon-b{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  max-width: 30px;
  width: auto;

  svg{
    max-width: 100%;
    height: auto;

    path{
      transition: all ease 0.3s;
    }
  }

  // Dynamic color
  &.icon-gray path{
    fill: rgb(152, 162, 179);
  }
  &.icon-blue path{
    fill: rgba(138, 174, 216, 1);
  }
  &.icon-red path{
    fill: rgba(216, 138, 175, 1);
  }

  // Static color
  &.icon-success path{
    fill: #35825A;
  }
  &.icon-warning path{
    fill: #FF922E;
  }
  &.icon-error path{
    fill: #D72F2F;
  }
  &.icon-panel,
  &.icon-reset{
   bottom: 1px;
  }
  &.icon-save{
    bottom: 5px;
  }
  &.icon-plus{
    bottom: 2px;
  }
  &.icon-menu,
  &.icon-grid{
    bottom: 1px;
  }
  &.icon-lock{
    bottom: 2px;
  }
}
// Dynamic hover
*:hover > .icon-hover-gray path,
.icon-hover-gray:hover path{
  fill: rgb(152, 162, 179);
}
*:hover > .icon-hover-blue path,
.icon-hover-blue:hover path{
  fill: rgba(138, 174, 216, 1);
}
*:hover > .icon-hover-red path,
.icon-hover-red:hover path{
  fill: rgba(216, 138, 175, 1);
}
*:disabled > .icon-b{

  path{
    fill:#98A2B3;
  }
}

