.generator-container{
  padding:  42px 150px 80px;
  border-radius: 4px;
  margin-bottom: 80px;
  position: relative;

  @media screen and (max-width: 1450px){
    padding:  42px 6rem 80px;
  }
  @media screen and (max-width: 1200px){
    padding:  15px 15px 30px;
  }

  .container-slider{
    align-items: start;
    position: relative;

    @media screen and (max-width: 767px){
      text-align: center;
      & > div{
        order: 3;
        margin-bottom: 8px;
      }
      & > div:first-child{
        order: 1;
      }
      & > div:last-child{
        order: 2;
      }
    }
    .password-length{
      display: flex;
      align-items: center;

      @media screen and (max-width: 767px) {
        padding-right: 116px;
      }
      label{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2C2C2C;
        margin-right: 16px;
      }
      input{
        min-width: 1px;
      }
    }
    .password-slider-btn{
        white-space: nowrap;

      @media screen and (max-width: 767px){
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: auto;
      }
      button{
        width: 48px;
        height: 48px;

        &:first-child{
          margin-right: 8px;
        }
      }
    }
  }

  .password-generate-btn{
    text-align: center;
    margin-bottom: 32px;

    button{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      padding: 16px 32px;
    }
  }

  .result-string{
    label{
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #2C2C2C;

    }
    .input-group{
      align-items: start;
      textarea{
        resize: none;
        margin-right: 8px;
        flex: 1;
        padding: 16px 20px;
        background: #F8F8F8;
        border: 1px solid #DFEDFD;
        border-radius: 4px!important;
      }
      input{
        margin-right: 8px;
        background: #F8F8F8;
        border: 1px solid #DFEDFD;
        border-radius: 4px!important;
        padding: 12px 20px;
      }
      .btn{
        border-radius: 4px!important;
        position: relative;
        min-width: 107px;
        padding: 12px 20px;

        span{
          display: flex;
          position: absolute;
          top:100%;
          margin-top: 8px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          text-align: center;
          color: #98A2B3;
          align-items: center;
          opacity: 0;
          transition: all ease-in-out .2s;
          i{
            margin-right: 6px;
          }

        }
        &.btn-copied{
          span{
            opacity: 1;
          }
        }
      }
    }
  }


}
.password-option-panel{
  padding: 17px 56px 0;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin-bottom: 22px;

  @media screen and (max-width: 600px){
    padding: 0;
    border: 0;
  }

  .password-option-title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #2C2C2C;
    padding-bottom: 25px;
  }

  hr{
    margin: -10px 0px 16px;
  }

  .password-option-item{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
    align-items: center;

    & > label{
      display: block;
      width: 205px;

      @media screen and (max-width: 420px){
        width: 190px;
      }
    }
    & > div{
      flex: 1;

      label{

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #4D5560;

        span{
          color: #0168E3;
        }
      }
      &.form-check{
        margin-bottom: 0;
      }
    }
  }
}