.change-type-menu-item{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #898A93;
  cursor: pointer;
  padding: 8px 0;

  &.active{
    color: #2C2C2C;
  }

}
.change-type-item.row{
  display: none;
  margin-right: -4px;
  margin-left: -4px;
  background: #F8F8F8;
  padding: 16px;
  border-radius: 4px;

  &.active{
    display: flex;
  }
  .container-btn-type{
    margin-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.btn.btn-type-style{
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #F2F4F7;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4D5560;
  width: 100%;
  white-space: nowrap;
}