.container-preview-gb{
  padding-bottom: 56px;
  .container-preview-setting{
    @media screen and (min-width: 768px) {
      min-height: 652px;
    }
  }
  .preview-row{
    margin-left: -32px!important;
    margin-right: -32px!important;


    .preview-col{
      padding-left: 32px;
      padding-right: 32px;
    }

  }

  @media screen and (max-width: 767px){
    padding-bottom: 0;
  }
}

.container-preview{
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  padding: 16px 17px;
  flex: 1;

  @media screen and (max-width: 767px){
    min-height: 0;
  }

  .area-group-preview{
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.35;
    color: #4D5560;
    margin-bottom: 0;
    flex: 1;
    position: sticky;
    max-height: 488px;
  }
  .stack-preview{
    padding: 4px;
    background: #F2F4F7;
    border-radius: 4px;

    button{
      font-size: 14px;
      padding: 3.5px 8px;

      &.preview-item-active{
        background: #FFFFFF;
        border: 1px solid #F2F4F7;
        box-shadow: 0 2px 2px rgba(106, 106, 106, 0.05);
        border-radius: 4px;
      }
    }
  }
  button.btn-full-size{
    &:hover{
      background: #fff;
      border-color: #fff;
      box-shadow: 0px 2px 2px rgba(106, 106, 106, 0.05);
      path{
        fill: #2C2C2C;
      }
    }
  }

  .action-fields{
    padding: 16px 15px;

    .action-field{
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1100px) {
      &.csv_container_setting {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .action-field{
          width: 100%;
        }
        .action-field:nth-child(n + 4) {
          width: 50%;
          padding: 0 10px;
        }
      }
    }

  }


}
.container-title{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #2C2C2C;
  margin-bottom: 16px;
}

.modal-title-any {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #2C2C2C;
  text-align: center;
  margin-bottom: 48px;
}
table.table-preview{
  border: 1px solid #F2F4F7;

  thead {
    .table-active {
      --bs-table-accent-bg: #F8F8F8;

      th {
        padding: 8px 16px;
        color: #2C2C2C;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  tbody{
    td{
      color: #4D5560;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      padding: 8px 16px;
    }
  }
}