
.security-container{
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #898A93;
  min-height: 36px;



  .security-line-container{
    position: relative;
    width: 100%;
    max-width: 462px;
    background: #F8F8F8;
    border-radius: 8px;
    margin-bottom: 8px;

    .security-line{
      height: 8px;
      background: #F93232;
      border-radius: 8px;
    }
  }

}