
.table-pane {
  background-color: rgba(242, 244, 247, 1);
  padding: 24px 24px 32px;
  border-radius: 4px;
  margin-bottom: 32px;

  .dd-content {
    margin-bottom: 24px;

    .flex-table {
      width: 100%;

      .table-flex-header,
      .table-flex-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        padding: 11px 0;
        position: relative;

        @media screen and (max-width: 990px) {
          padding: 15px 44px 15px 15px;
        }

        .table-flex-col {
          padding: 0 15px;

          @media screen and (max-width: 990px) {
            &:before {
              content: attr(data-title);
              display: block;
              font-size: 14px;
              color: #898A93;
              font-style: normal;
              font-weight: 400;
            }
          }

          &:first-child {
            width: 3.4%;
            display: flex;
            justify-content: flex-end;
            padding-right: 0;

            @media screen and (max-width: 990px) {
              width: auto;
              min-width: 48px;
              position: absolute;
              top: 15px;
              right: 0;
              padding: 0;
              justify-content: center;
              margin-bottom: 15px;
            }
          }

          &:nth-child(2) {
            width: 14.4%;
            @media screen and (max-width: 990px) {
              width: 50%;
              order: 1;
              margin-bottom: 15px;
            }
            @media screen and (max-width: 560px) {
              width: 100%;
            }
          }

          &:nth-child(3) {
            width: 16.9%;
            @media screen and (max-width: 1260px) {
              width: 20%;
            }
            @media screen and (max-width: 990px) {
              width: 50%;
              order: 2;
              margin-bottom: 15px;
            }
            @media screen and (max-width: 560px) {
              width: 100%;
            }
          }

          &:nth-child(4) {
            width: 18.8%;
            @media screen and (max-width: 1260px) {
              width: 15.7%;
            }
            @media screen and (max-width: 990px) {
              width: 100%;
              order: 4;
            }
          }

          &:nth-child(5) {
            width: 37.4%;
            @media screen and (max-width: 990px) {
              width: 100%;
              order: 3;
              margin-bottom: 15px;

              &.table-flex-setting-empty {
                display: none;
              }
            }
          }

          &:last-child {
            width: 8.5%;
            text-align: center;
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 990px) {
              width: auto;
              position: absolute;
              top: 43px;
              right: 0;
              padding: 0;
            }

            .table-action-container {
              display: flex;
              align-items: center;
              min-width: 96px;

              @media screen and (max-width: 990px) {
                flex-direction: column;
                min-width: 48px;
              }

              button {
                width: auto;
              }
            }
          }

        }
      }

      .table-flex-header {
        padding: 0 0 16px ;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #898A93;

        @media screen and (max-width: 990px) {
          display: none;
        }

        .table-flex-col {
          &:last-child {
            justify-content: center;
          }
        }
      }

      .table-flex-row {
        background-color: #fff;
        border: 1px solid #fff;
        margin-bottom: 8px;

        .table-flex-col {
          &.td-example {
            overflow: hidden;
            margin: 0;
            font-size: 14px;
            color: #898A93;
            //line-height: 140%;
            font-style: normal;
            font-weight: 400;
          }

          .react-datepicker-span{
            cursor: pointer;
            display: block;
            min-height: 10px;
            min-width: 80px;
            position: relative;
            padding: 3px 17px 3px 5px;
            color: #4D5560;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            @media screen and (max-width: 990px){
              font-size: 14px;
            }
            &:after{
              content:"";
              width: 9px;
              height: 5px;
              background: url("../img/arrow.png") no-repeat center;
              position: absolute;
              right: 5px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .react-datepicker__input-container {
            input{
              padding: 0;
              background: #ffffff;
              border-color: #ffffff;
            }
          }
          [type="date"] {
            padding: 0;
            background: #ffffff;
            border-color: #ffffff;

          }

          @media screen and (max-width: 910px) {
            padding: 5px 7.5px;
          }
        }

      }

      .td-fields {
        label {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #2C2C2C;
          margin-right: 8px;

          @media screen and (max-width: 920px) {
            font-size: 14px;
          }
        }

        input {
          background: #F8F8F8;
          border: 1px solid #F8F8F8;
          border-radius: 4px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #4D5560;
          padding: 11px;
          text-align: center;
          display: inline-block;

          @media screen and (max-width: 990px){
            font-size: 14px;
          }

          &[type="date"] {
            width: auto !important;
          }

        }

        .input-field {
          white-space: nowrap;
          //margin: 4px 10px 4px 0;
          display: inline-block;
          margin-right: 16px;
          max-width: 100%;

          .input-card-blue{
            max-width:70%;

            input{
              max-width: 100%;
              overflow: auto;
            }
          }

          &.input-field-textarea{
            display: flex;

            textarea{
              background: #F8F8F8;
              border: 1px solid #F8F8F8;
              border-radius: 4px;
              resize: none;
              width: 100%;
              padding: 16px 20px;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #4D5560;

            }
          }
        }
      }

      .form-control {
        @media screen and (max-width: 920px) {
          font-size: 14px;
          padding: 5px 7px;
        }
      }
    }
  }
  & > button{
    max-width: 321px;
    width: 100%;
  }
}
.selectIsNotReal{

  background-color: #F8F8F8;
  color: #4D5560;
  border: 0;
  border-radius: 4px;
  padding: 0.75rem 2.35rem 0.75rem 1.35rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  position: relative;

  & > *{
    flex: auto;
    margin: 0 5px;
  }
  &.input-disabled{
    background: #F2F4F7;
    color: #98A2B3;
    border: 1px solid #F2F4F7;
  }

  span:last-child{
    text-align: right;
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 920px){
      right: 3.5px;
    }
  }

  @media screen and (max-width: 920px){
    font-size: 14px;
    padding: 5px 17px 5px 7px;
  }
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 767px){
  .container-bottom-gen{
    align-items: center;
    margin-bottom: 0!important;

    & > * {
      display: flex;
      width: auto;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }

    .line-horizontal{
      display: none;
    }
  }
}
.btn-export-style{
  white-space: nowrap;
  min-width: 256px;
}